<?xml version="1.0"?>
<!--
/**
 * @category ScandiPWA
 * @package ScandiPWA\MenuOrganizer
 * @author Ernests Verins ernests.verins@scandiweb.com
 * @copyright Copyright (c) 2015 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_save_after">
        <observer name="update_menu" instance="ScandiPWA\MenuOrganizer\Observer\UpdatePageIdentifier" />
    </event>
    <event name="catalog_category_delete_after">
        <observer name="update_menu" instance="ScandiPWA\MenuOrganizer\Observer\DeleteCategoryItem" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="update_menu" instance="ScandiPWA\MenuOrganizer\Observer\UpdateCategoryItem" />
    </event>
</config>
