<?xml version="1.0"?>
<!--
/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_save_after">
        <observer name="update_menu" instance="ScandiPWA\MenuOrganizer\Observer\UpdatePageIdentifier" />
    </event>
    <event name="catalog_category_delete_after">
        <observer name="update_menu" instance="ScandiPWA\MenuOrganizer\Observer\DeleteCategoryItem" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="update_menu" instance="ScandiPWA\MenuOrganizer\Observer\UpdateCategoryItem" />
    </event>
</config>
